<!DOCTYPE html>
<html ng-app="questionApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>HR Manager Questionnaire</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="dist/css/flat-ui.css" rel="stylesheet">
    <link href="docs/assets/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="dist/js/vendor/html5shiv.js"></script>
      <script src="dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="QuestionCtrl" style="background-color:cadetblue">
    <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          <img src="img/icons/svg/clipboard.svg" alt="Clipboard">HR Manager
          <small style="color:#E3E3E3">Challenger: {{userObj.username}}</small>
        </h1><br/>
		  <div class="col-lg-offset-5 col-lg-2"><a class="btn btn-danger btn-lg btn-block" ng-click="logout()" href="#">Let me out!</a></div>
      </div> <!-- /demo-headline -->
	  
	  <!---Questions-->
	  
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6">
          <div style="border:5px solid;" class="login-form">
            <div class="form-group">
			<div id="errorMsg" style="display:none" class="alert alert-danger">
			</div>
            {{currentQuestion.text}}
			
            </div>

            <div id="choices" class="form-group">
              <a id={{choice.$$hashKey}} ng-repeat="choice in currentQuestion.choices" class="btn btn-primary btn-lg btn-block" ng-click="selectChoice(choice)">{{choice.text}}</a> 
            </div>
			
			<div class="form-group">
					<div class="col-md-offset-3 col-md-6">
					 <a class="btn btn-info btn-lg btn-block" ng-click="submitChoice()">Submit</a>
					</div>
			</div>
           
			<br/>
			<div class="row">
			
			</div>
          </div>
		  </div>
       </div>
	   
	   
		<div class="modal fade" data-keyboard="false" data-backdrop="static" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Congratulations! Your score is {{userObj.score}}</h4>
			  </div>
			  <div class="modal-body">
				
				<h4>Leaderboard</h4>
				<table class="table table-striped">
					<tr><th>Username</th><th>Score</th></tr>
					<tr ng-class="{info: user.username==userObj.username}" ng-repeat="user in leaderboard">
						<td>{{user.username}}</td><td>{{user.score}}</td>
					</tr>
				</table>
			  </div>
			  <div class="modal-footer">
				<button type="button" ng-click="logout()" class="btn btn-default" data-dismiss="modal">Back to Main</button>
			  </div>
			</div>
		  </div>
		</div>
	   
	   


    <script src="dist/js/vendor/jquery.min.js"></script>
    <script src="dist/js/vendor/video.js"></script>
    <script src="dist/js/flat-ui.min.js"></script>
    <script src="docs/assets/js/application.js"></script>
	<script src="js/lib/angular.min.js"></script>
  <script src='js/lib/firebase.js'></script>
  <script src='js/lib/angularfire.min.js'></script>
    <script>
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf";
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for(var i=0; i<ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1);
				if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
			}
			return "";
		}
		
		
		function deleteCookie(){
			document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
		}
    </script>
	<script>
		var questionApp=angular.module('questionApp',['firebase']);
		questionApp.controller('QuestionCtrl',['$scope','$firebase',function($scope,$firebase){
			var ref=new Firebase("https://hrmanager.firebaseio.com/questions");
			$scope.question=$firebase(ref).$asArray();
			$scope.question.$loaded(function(){
			$scope.currentQuestion=$scope.question[0];
			});
			
			var userRef=new Firebase("https://hrmanager.firebaseio.com/users");
			
			
			$scope.username=getCookie("username");
			if($scope.username==""){
				window.location.replace("index.html");
			}
			
			function userComparator(a,b){
				return b.score-a.score;
			}
			
			$scope.users=$firebase(userRef).$asArray();
			$scope.users.$loaded(function(){
				for(var i=0;i<$scope.users.length;i++){
					if($scope.users[i].username==$scope.username){
						$scope.userObj=$scope.users[i];
						
					}
				}
				
			});
			
			$scope.selectChoice=function(choice){
				$scope.selectedChoice=choice;
				$("#choices a").removeClass("active");
				$("#"+choice.$$hashKey).addClass("active");
				
			};
			
			$scope.submitChoice=function(){
					if(typeof $scope.selectedChoice!='undefined'){
							
							var total=parseInt($scope.userObj.score)+parseInt($scope.selectedChoice.score);
							$scope.userObj.score=total;
							$scope.users.$save($scope.userObj);
							if(typeof $scope.selectedChoice.moveTo!='undefined'){
							$scope.currentQuestion=$scope.question[$scope.selectedChoice.moveTo];
							
							
							
							}else{
								//show end of journey
								var list= $scope.users.slice();
								list.sort(userComparator);
								$scope.leaderboard=list.slice(0,10).sort(userComparator);
								$("#successModal").modal('show');
							}
					}else{
						displayError("Please select a choice");
					}
			}
			
			$scope.logout=function(){
				deleteCookie();
				window.location.replace("index.html");
			}
			
			var displayError=function(errorMsg){
				$("#errorMsg").empty();
				$("#errorMsg").append(errorMsg);
				$("#errorMsg").fadeIn().delay(1000).fadeOut();
			}
			
			
		}]);
	</script>
  </body>
</html>
